<main class="contenedor">
    <form action="/reestablecer-password" method="POST" class="default-form">
        <div class="campo">
            <label>E-Mail</label>
            <input type="email" name="email" placeholder="Tu E-Mail" >
        </div>

        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar Sesión</a>
            
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer Password" class="btn btn-azul">
        
    </form>
</main>